{% extends 'base.html' %}

{% block title %} Liste des jeux{% endblock %}

{% block content %}
<div class="container">
    <h2 class="my-4 text-center">Les jeux</h2>
    <div class="row justify-content-center">
        {% for game in games %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 mx-auto" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">{{ game.pk }} - {{ game.name }}</h3>
                    <p class="card-text">{{ game.description }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'game' game.id %}" class="btn btn-primary">Détail</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="text-center mt-4">
        <a href="{% url 'game_form' %}" class="btn btn-success">Ajouter un jeu</a>
    </div>
</div>
{% endblock %}
